*{
margin: 0;
padding-top: 0px;
}

body{
  padding-top:  200px;
font-family: Arial sans-serif;
font-size: 11px;
background-color: red;
}
#container{
width: 580px;
margin: 0 auto;
text-align: center;
width:700px;
height:225px;
position:absolute;
top:173px;
left:343px;
right:20%;
font-size:94px;
}

h1#logo{
width: 269px;
height: 95px;
background-size: 100%;


}
input[type ="text"]{
width: 700;
padding: 10px;
}